{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/group.css') }}">
{% endblock %}

{% block body %}
<div class="group-container">
    <h1 class="group-title">Group Name : {{ groupName }}</h1>
    {% if isInGroup %}
        <h2 class="group-subtitle">Groupe Members :</h2>
        <ul>
            {% for member in groupMembers %}
                <li>{{ member.pseudo }}</li>
            {% endfor %}
        </ul>
        <h2>Score du groupe : {{ groupScore }}</h2>
        <form action="{{ path('leave_group') }}" method="post">
            <button type="submit">Quitter le groupe</button>
        </form>
        <button onclick="document.getElementById('popup').showModal()">Inviter un utilisateur</button>
        <dialog id="popup">
        {% for user in allUsers %}
            <p class="user">{{ user.pseudo }}</p>
            <form action="{{ path('invite_user', { 'email': user.email, 'idGroup': idGroup }) }}" method="post">
                <input type="hidden" name="useremail" value="{{ user.email }}">
                <button type="submit">Inviter</button>
            </form>
        {% endfor %}
        <button onclick="document.getElementById('popup').close()">Fermer</button>
        </dialog>
    {% else %}
        {{ form(formGroup) }}
        <h2> Join a group :</h2>
        {% for group in groups %}
            <form action="{{ path('join_group', { 'id': group.id }) }}" method="post">
                <input type="hidden" name="groupId" value="{{ group.id }}">
                <button type="submit">{{ group.name }}</button>
            </form>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}