{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="profile-container">

    <img src="{{ asset('uploads/' ~ app.user.profilePicture) }}" alt="Profile Picture" class="profile-picture">

    <h1 class="pseudo">{{ app.user.pseudo }}</h1>
    <h1 class="email">{{ app.user.email }}</h1>
    <h1 class="points">Points: {{ app.user.points }}</h1>


</div>
{% endblock %} 